
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#app {
  background-color: #3f51b4;
  width: 430px;
  height: 600px;
}
.row {
  display: flex;
  height: 100px;
}
input[type="text"],
button {
  flex: 1;
  border: none;
  outline: none;
}
input[type="text"] {
  background-color: rgb(15, 12, 12);
  color: aliceblue;
  font-size: 2em;
  padding: 20px 20px;
}
button {
  background-color: rgb(23, 167, 135);
  color: aliceblue;
  font-size: 1.4em;
  border: 1px solid black;
}
button:hover {
  background-color: black;
  cursor: pointer;
}
.zero {
  flex: 2;
}